<p>suppliermaintain works!</p>

<div class="container">
  <h1> Supplier Creation using Form Builder</h1>

  <div *ngIf="(errorMsg!=null && errorMsg!='')" class="alert alert-danger">
    {{errorMsg}}
  </div>

  <div *ngIf="(successMsg!=null && successMsg!='')" class="alert alert-success">
    {{successMsg}}
  </div>

  <form [formGroup]="suppliermaintainform">

    <div class="form-group">
      <label for="suppliername"> Supplier Name: </label>
      <input type="text" class="form-control-sm"
      formControlName="suppliername"
      name="suppliername" id="suppliername"
      placeholder="Supplier Name"
      [class.alert-danger]="(suppliermaintainform.get('suppliername').invalid &&
      suppliermaintainform.get('suppliername').touched)"
      >
      <!--<div>
      <small
      [class.d-none]="(suppliermaintainform.get('suppliername').valid
      || suppliermaintainform.get('suppliername').untouched
      )"
      class="text-danger">Supplier Name is Required</small>
    </div> -->

    <div *ngIf="suppliermaintainform.get('suppliername').invalid &&
    suppliermaintainform.get('suppliername').touched">

        <div *ngIf="suppliermaintainform.get('suppliername').errors?.required">
            <small class="text-danger"> Supplier Name is Required</small>
        </div>

        <div *ngIf="suppliermaintainform.get('suppliername').errors?.minlength">
          <small class="text-danger"> Supplier Name must be minimum of
            5 characters </small>
        </div>

    </div>


    </div>

    <div class="form-group">
      <label for="supplierdesc"> Supplier Description:
      </label>
      <input type="text" class="form-control"
      name="supplierdesc" id="supplierdesc"
      formControlName="supplierdesc"
      placeholder="Supplier Decription">
    </div>


    <div formGroupName="address">

      <div class="form-group">
        <label for="country"> Country:
        </label>
        <input type="text" class="form-control"
        name="country" id="country"
        formControlName="country"
        placeholder="Supplier Country">
      </div>

      <div class="form-group">
        <label for="city"> City:
        </label>
        <input type="text" class="form-control"
        name="city" id="city"
        formControlName="city"
        placeholder="Supplier City">
      </div>

      <div class="form-group">
        <label for="state"> State:
        </label>
        <input type="text" class="form-control"
        name="state" id="state"
        formControlName="state"
        placeholder="Supplier State">
      </div>


      <div class="form-group">
        <label for="zipcode"> Zip Code:
        </label>
        <input type="text"
        class="form-control"
        name="zipcode" id="zipcode"
        formControlName="zipcode"
        placeholder="Supplier Zip Code">
      </div>

      <div class="form-group">
        <label for="addressdesc"> Address Description:
        </label>
        <textarea
        class="form-control" rows="2" columns="10"
        name="addressdesc" id="addressdesc"
        formControlName="addressdesc"
        placeholder="Supplier Address Details">
        </textarea>
      </div>


    </div>


 <!-- <button class="btn btn-primary" (click)="saveSupplier()">
       Save Supplier </button>-->

       <button class="btn btn-primary" (click)="saveSupplier()">
        Save Supplier </button>

  </form>

  <div class="alert alert-success">
    {{suppliermaintainform.value | json}}
  </div>

</div>
