<div class="container">
  <h1> Supplier Creation</h1>
  <form [formGroup]="supplierform">

    <div class="form-group">
      <label for="supplername"> Supplier Name: </label>
      <input type="text" class="form-control-sm"
      formControlName="suppliername"
      name="suppliername" id="suppliername"
      placeholder="Supplier Name">
    </div>

    <div class="form-group">
      <label for="supplierdesc"> Supplier Description:
      </label>
      <input type="text" class="form-control"
      name="supplierdesc" id="supplierdesc"
      formControlName="supplierdesc"
      placeholder="Supplier Decription">
    </div>

    <div formGroupName="address">

      <div class="form-group">
        <label for="country"> Country:
        </label>
        <input type="text" class="form-control"
        name="country" id="country"
        formControlName="country"
        placeholder="Supplier Country">
      </div>

      <div class="form-group">
        <label for="city"> City:
        </label>
        <input type="text" class="form-control"
        name="city" id="city"
        formControlName="city"
        placeholder="Supplier City">
      </div>

      <div class="form-group">
        <label for="state"> State:
        </label>
        <input type="text" class="form-control"
        name="state" id="state"
        formControlName="state"
        placeholder="Supplier State">
      </div>


      <div class="form-group">
        <label for="zipcode"> Zip Code:
        </label>
        <input type="text"
        class="form-control"
        name="zipcode" id="zipcode"
        formControlName="zipcode"
        placeholder="Supplier Zip Code">
      </div>


    </div>


    <button class="btn btn-primary"> Save Supplier </button>

  </form>

  <div class="alert alert-success">
    {{supplierform.value | json}}
  </div>

</div>
