<p>viewsuppliers works!</p>

<div *ngIf="(errorMsg!=null && errorMsg!='')" class="alert alert-danger">
  {{errorMsg}}
</div>

<div *ngIf="(successMsg!=null && successMsg!='')" class="alert alert-success">
  {{successMsg}}
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Supplier Name</th>
      <th scope="col">Supplier Description</th>
      <th scope="col">Country</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Address Description</th>
      <th scope="col">Zip Code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplierObj of supplierList; index as indicatorno">
      <th scope="row">{{indicatorno+1}}</th>
      <td ><a href="{{baseurl+supplierObj.suppliername }}">
        {{supplierObj.suppliername}} </a></td>
      <td>{{supplierObj.supplierdesc}}</td>
      <td>{{supplierObj.address.country}}</td>
      <td>{{supplierObj.address.state}}</td>
      <td>{{supplierObj.address.city}}</td>
      <td>{{supplierObj.address.addressdesc}}</td>
      <td>{{supplierObj.address.zipcode}}</td>
     </tr>
  </tbody>
</table>
