<div class="container">
  <h1> Product Type Creation</h1>
  <form>

    <div class="form-group">
      <label for="producttypename"> Enter the Product Type: </label>
      <input type="text" class="form-control"
      name="producttypename" id="producttypename"
      placeholder="Product Type">
    </div>

    <div class="form-group">
      <label for="producttypedesc"> Enter the Product Type Description:
      </label>
      <input type="text" class="form-control"
      name="producttypedesc" id="producttypedesc"
      placeholder="Product Type Decription">
    </div>
    <button class="btn btn-primary"> Save Product Type </button>

    <button class="btn btn-secondary">
      Display Data  </button>
  </form>

  <div class="alert alert-success">

  </div>



</div>
